<suite name="Suite" parallel="tests" thread-count="2"> //here parallel="tests" means run both the test in parallel and thread-count="2" means run two test cases parallel.  
  <test name="Test1">
  <parameter name="browserType" value="FF" />  //to pass the input to the java class
   <classes> 
          <class name="hello.ParallelExecution"/>   //here hello is package name and ParallelExecution is class name 
   </classes>
  </test> 
  <test name="Test2">
  <parameter name="browserType" value="IE" />
   <classes> 
          <class name="hello.ParallelExecution"/> //here hello is package name and ParallelExecution is class name 
   </classes>
  </test> 
</suite> 